In [1]:
import numpy as np
import pandas as pd

In [2]:
#Defining things for ebill

ebill_recommend = ["Your electricity consumption is below the average rate which is contributing minimal amounts of carbon emission. Try maintaining this level and help reduce Carbon Emission!",
                  "Your electricity consumption is contributing towards an average amount of carbon emission. Try to maintain your energy usage by making slight changes in your lifestyle like: Taking shorter showers, Washing dishes by hand etc. You can gather more information by visiting: https://www.energysage.com/energy-efficiency/101/ways-to-save-energy/",
                  "Your electricity consumption is contributing towards high amount of carbon emission. Try to maintain your energy usage by making changes in your lifestyle like: Switching to LED Bulbs, Unplugging Electronics when not in use etc. You can gather more information by visiting: https://www.energysage.com/energy-efficiency/101/ways-to-save-energy/"]

def check_ebill(curr_bill):
    if curr_bill <= 6600:
        return 0
    elif 6600 < curr_bill <= 11880:
        return 1
    else:
        return 2

In [3]:
#Defining things for car_milage


car_milage_recommend = ["Your fuel consumption is below the average rate which is contributing minimal amounts of carbon emission. Try maintaining this level and help reduce Carbon Emission!",
                        "Your fuel consumption is contributing towards an average amount of carbon emission. Try to maintain your fuel consumption by making slight changes in your lifestyle like: Using public transportation or carpool when possible, reducing unnecessary driving etc.You can gather more information by visiting: https://www.mobil.com/en/sap/personal-vehicles/car/vehicle-maintenance/reduce-fuel-consumption",
                       "Your fuel consumption is contributing towards high amount of carbon emission. Try to maintain your fuel consumption by making changes in your lifestyle like: Switching to EV, keeping your vehicle maintained.You can gather more information by visiting: https://www.mobil.com/en/sap/personal-vehicles/car/vehicle-maintenance/reduce-fuel-consumption"]


def check_car_milage(curr_milage):
    if curr_milage <= 22000:
        return 0
    elif 22000 < curr_milage <= 50000:
        return 1
    else:
        return 2

In [4]:
#Defining things for recycle_newspaper

recycle_newspaper_recommend = ["Great Job! You are helping reduce greenhouse gas emissions. Also, did you know that the amount of energy and materials it takes to make a ton of office paper is reduced by 4.3 tons of CO2 when recycling paper. Keep on recycling newspapers and help reduce Carbon Emission!",
                              "Recycling newspapers help reduce carbon emissions. Recycling one ton of newspaper can save approximately 3.3 cubic yards of landfill space, 17 trees, 7,000 gallons of water, and 4,100 kilowatt-hours of electricity. So, please start recycling Newspapers!"]


def check_recycle_newspaper(curr_status):
    if curr_status == "YES":
        return 0
    else:
        return 1

In [5]:
#Defining things for recycle_tin

recycle_tin_recommend = ["Great Job! Recycling aluminum and tin can significantly reduce carbon emissions and is an important step towards a more sustainable and environmentally friendly future. Keep on recycling aluminum & tin and help reduce Carbon Emission!",
                        "Recycling aluminum can save up to 95% of the energy required to produce aluminum from raw materials and recycling tin can save up to 60% of the energy required to produce tin from raw materials. So, please start Recycling Aluminum and Tin!"]


def check_recycle_tin(curr_status):
    if curr_status == "YES":
        return 0
    else:
        return 1

In [6]:
df = pd.read_csv(r"Individual Carbon Footprint.csv")

df.head()

,Unnamed: 0,Electricity Bill(Monthly in Rs.),Gas Bill (Monthly in Rs.),Oil Bill (Monthly in Rs),Car Mileage (Yearly in Rs.),No. of flights in Past year(4hr or less),No. of flights in past year (4hrs or more),Recycled Newspaper past year,Recycled Aluminium and Tin Past year,CO2 Footprint (Tonnes)
0,0,5322.554687,1594.004428,3478.366660,17605.025605,60,26,No,No,656.976055
1,1,5124.830372,339.655107,488.266375,52565.781974,61,28,No,Yes,430.478022
2,2,8936.016302,2206.751278,199.879216,31374.613247,11,47,Yes,Yes,718.131446
3,3,9460.938786,3769.012804,4904.934421,31060.831028,41,50,No,No,1116.695282
4,4,1192.171025,940.142524,4553.955100,15137.897795,30,37,Yes,Yes,473.124394

In [7]:
df["ebill_rec"] = df["Electricity Bill(Monthly in Rs.)"].apply(check_ebill)
df["car_milage_rec"] = df["Car Mileage (Yearly in Rs.)"].apply(check_car_milage)
df["recycle_newspaper_rec"] = df["Recycled Newspaper past year"].apply(check_recycle_newspaper)
df["recycle_tin_rec"] = df["Recycled Aluminium and Tin Past year"].apply(check_recycle_tin)

df.head()

,Unnamed: 0,Electricity Bill(Monthly in Rs.),Gas Bill (Monthly in Rs.),Oil Bill (Monthly in Rs),Car Mileage (Yearly in Rs.),No. of flights in Past year(4hr or less),No. of flights in past year (4hrs or more),Recycled Newspaper past year,Recycled Aluminium and Tin Past year,CO2 Footprint (Tonnes),ebill_rec,car_milage_rec,recycle_newspaper_rec,recycle_tin_rec
0,0,5322.554687,1594.004428,3478.366660,17605.025605,60,26,No,No,656.976055,0,0,1,1
1,1,5124.830372,339.655107,488.266375,52565.781974,61,28,No,Yes,430.478022,0,2,1,1
2,2,8936.016302,2206.751278,199.879216,31374.613247,11,47,Yes,Yes,718.131446,1,1,1,1
3,3,9460.938786,3769.012804,4904.934421,31060.831028,41,50,No,No,1116.695282,1,1,1,1
4,4,1192.171025,940.142524,4553.955100,15137.897795,30,37,Yes,Yes,473.124394,0,0,1,1

In [8]:
discrete_cols = [i for i in df.columns if df[i].dtype == 'O']

for col in discrete_cols:
    df[col] = df[col].apply(lambda x: 1 if x=='Yes' else 0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 14 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  8000 non-null   int64
 1   Electricity Bill(Monthly in Rs.)            8000 non-null   float64
 2   Gas Bill (Monthly in Rs.)                   8000 non-null   float64
 3   Oil Bill (Monthly in Rs)                    8000 non-null   float64
 4   Car Mileage (Yearly in Rs.)                 8000 non-null   float64
 5   No. of flights in Past year(4hr or less)    8000 non-null   int64
 6   No. of flights in past year (4hrs or more)  8000 non-null   int64
 7   Recycled Newspaper past year                8000 non-null   int64
 8   Recycled Aluminium and Tin Past year        8000 non-null   int64
 9   CO2 Footprint (Tonnes)                      8000 non-null   float64
 10  ebill_rec                                   8000 non-null   int64
 11  car_milage_rec                              8000 non-null   int64
 12  recycle_newspaper_rec                       8000 non-null   int64
 13  recycle_tin_rec                             8000 non-null   int64
dtypes: float64(5), int64(9)
memory usage: 875.1 KB

In [10]:
import pickle
from sklearn.cluster import KMeans

km1=KMeans(n_clusters=3, n_init=10)

km1.fit(np.array(df["Electricity Bill(Monthly in Rs.)"]).reshape(-1, 1), np.array(df['ebill_rec']).reshape(-1, 1))

filename = "individual_ebill_recommend.pickle"

# save model
pickle.dump(km1, open(filename, "wb"))

In [11]:
km2=KMeans(n_clusters=3, n_init=10)

km2.fit(np.array(df["Car Mileage (Yearly in Rs.)"]).reshape(-1, 1), np.array(df['car_milage_rec']).reshape(-1, 1))

filename = "individual_car_milage_rec.pickle"

# save model
pickle.dump(km2, open(filename, "wb"))

In [12]:
km3=KMeans(n_clusters=2, n_init=10)

km3.fit(np.array(df["Recycled Newspaper past year"]).reshape(-1, 1), np.array(df['recycle_newspaper_rec']).reshape(-1, 1))

filename = "individual_recycle_newspaper_rec.pickle"

# save model
pickle.dump(km3, open(filename, "wb"))

In [13]:
km4=KMeans(n_clusters=2, n_init=10)

km4.fit(np.array(df["Recycled Aluminium and Tin Past year"]).reshape(-1, 1), np.array(df['recycle_tin_rec']).reshape(-1, 1))

filename = "individual_recycle_tin_rec.pickle"

# save model
pickle.dump(km4, open(filename, "wb"))